*{
    margin: auto;
    text-align: center;
}
p {
   font-family: comic sans ms;
   font-size: 10 vw;
   font-weight: bold;
   border-style: solid;
}
#goed{
    color: green;
}
#fout{
    color: red;
}
